/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right, #ad026c, #540566, #c21518);
}

body{
    height: inherit;
    width: 90%;
    margin: 0 auto;
    font-family: sans-serif;
}

app-root{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

@media(width < 1000px){
    app-root{
        grid-gap: 0.5rem;
    }
}
   